body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #f1f1f1;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.ui.equal.width.aligned.middle.aligned.grid {
    height: 30%;
}

.ui.equal.width.aligned.grid > .row {
    padding-bottom: 0;
}

.ui.equal.width.aligned.grid > .row > .blue.column {
    background-color: #2185d0;
    padding-top: 14.9%;
    padding-bottom: 14.9%;
}

.ui.equal.width.aligned.grid > .row > .column {
    padding-top: 1%;
    padding-bottom: 1%;
}

.item {
    vertical-align: middle;
    font-size: x-large;
    padding-bottom: 2rem;
}

.large.search.icon {
    margin-left: 1.2em;
}
.large.heart.icon {
    margin-left: 0.2em;
}
.ui.primary.button {
    margin-top: 3.5rem;
}

.medium.text {
    font-size: 2rem;
}

.right-content {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.right-content h1 {
    line-height: 60px;
    font-size: 5rem;
}

.blue.column.tweet {
    background-size: 730px;
    background: #1da1f2 url(../assets/images/bird.svg) no-repeat center;
    display: flex;
}
